.vertical-timeline-element--education{
    font-family: 'League Spartan', sans-serif;
    color: #8DA9C4;
}
.vertical-timeline-element--work{
    font-family: 'League Spartan', sans-serif;
    color: #8DA9C4;
}