.front-component {
    width: 85%;
    height: 500px;
    padding: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .info {
    color: white;
    padding: 30px;
    font-size: 25px;
    font-family: 'League Spartan', sans-serif;
  }